@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');

body {
    color: white;
    background-color: #2c3e50;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.js-greetings {
    padding: 10px 20px;
    border: 1px solid whitesmoke;
}

.js-clock h1 {
    color: aliceblue;
}

.form,
.greetings {
    display: none;
}

.showing {
    display: block;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.bgImage {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    animation: fadeIn .5s linear;
}

.js-weather {
    margin-top: 50px;
}

.js-toDoList {
    font-family: 'Noto Sans KR', sans-serif;
}

.js-toDoForm label {
    position: absolute;
    top: 1px;
    /* input 요소의 border-top 설정값 만큼 */
    left: 1px;
    /* input 요소의 border-left 설정값 만큼 */
    padding: .8em .5em;
    /* input 요소의 padding 값 만큼 */
    color: #999;
    cursor: text;
}

.js-toDoForm input[type="text"] {
    width: 200px;
    height: auto;
    /* 높이값 초기화 */
    line-height: normal;
    /* line-height 초기화 */
    padding: .8em .5em;
    /* 원하는 여백 설정, 상하단 여백으로 높이를 조절 */
    font-family: 'Lato', sans-serif;
    /* 폰트 상속 */
    border: 1px solid #999;
    border-radius: 0;
    /* iSO 둥근모서리 제거 */
    outline-style: none;
    /* 포커스시 발생하는 효과 제거를 원한다면 */
    -webkit-appearance: none;
    /* 브라우저별 기본 스타일링 제거 */
    -moz-appearance: none;
    appearance: none;
}
